    form
    {
        background-color:brown;
        margin-left:4cm;
        margin-right:4cm;
        margin-top:4cm;
    }
    body
    {
        background-color:black;
    }
    h2
    {
        margin-left:3cm;
    }
    a
    {
        color:white;
        text-decoration:none;
    }
    input
    {
        background-color:transparent;
    }
